# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.lib

# Executables
*.exe
*.out
*.app

# Debug
Projet EV3/IHM/bin/
Projet EV3/IHM/obj/
Projet EV3/WifiTransfer/bin/
Projet EV3/WifiTransfer/obj/
Projet EV3/SensorsAlgorithm/bin/
Projet EV3/SensorsAlgorithm/obj/
