# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.lib

# Executables
*.exe
*.out
*.app
